extends layout

block body
  .container-fluid
    .row-fluid
      h1 HN TickerTape
    div(ng-controller='AppCtrl')
      .row-fluid
        h3 New Headlines
      .row-fluid(ng-repeat='story in newest', ng-cloak)
        .span12
          a(ng-href='{{story.url}}', target="_blank")
            p.tickerText {{story.text}} {{story.domain}}
      .row-fluid
        h3 Top Headlines
      .row-fluid(ng-repeat='story in topStories | orderBy:"position"', ng-cloak)
        .span12 
          a(ng-href='{{story.url}}', target="_blank")
            p.tickerText {{story.position}} | {{story.text}} {{story.domain}}

  script(src='js/lib/angular/angular.js')
  script(src='js/lib/underscore-min.js')
  script(src='/socket.io/socket.io.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
