!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title HN TickerTape
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body